{% extends "base.html" %}

{% block content %}
<h1>TV-channel editor</h1>
<br>
<form method="post" name="register" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="TV-Channel name") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <br/>
  <p>
    Fill channel's timetable: <a id="timetable-adder" href="#">Add new item to timetable...</a>
  </p>
  <p>
    <ul id="timetable" class="list-unstyled">
    {% for item in form.shows %}
      <li class="timetable-item">
      {% for field in item %}
        {{ field() }}
      {% endfor %}
      </li>
    {% endfor %}
    </ul>
    <span class="error">
      {% if form.shows.errors %}
        {% for error in form.shows.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Submit</button>
</form>
{% endblock %}
