{% extends "base.html" %}

{% block content %}
<h1>Channels' list editor</h1>
<br>
<form method="post" name="channelslist" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="Channels list name") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
    <p>
    {{ form.channels(class_="list-unstyled") }}
    <span class="error">
      {% if form.channels.errors %}
        {% for error in form.channels.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Submit</button>
</form>
{% endblock %}
