{% extends "base.html" %}

{% block content %}
  {% if shows and shows | length > 0 %}
    {% for show in shows %}
      <div>
        <h3>
          <a href="{{ url_for('show_show', show_id=show.id) }}">{{ show.name }}</a>
          {% if current_user.is_admin() %}
            <a class="edit-link" href="{{ url_for('show_edit', show_id=show.id) }}">[edit]</a>
            <a class="edit-link" href="{{ url_for('show_delete', show_id=show.id) }}">[delete]</a>
          {% endif %}
        </h3>
        <p>Duration: {{ show.duration }}<br/>
        Broadcasted on {{ show.timetable_length() }} channels</p>
      </div>
    {% endfor %}
  {% else %}
    <h3 class="text-center">Nothing to show</h3>
  {% endif %}
  {% if current_user.is_admin() %}
    <a href="{{ url_for('show_create') }}">Create new TV-show...</a>
  {% endif %}
{% endblock %}
