{% extends "base.html" %}

{% block content %}
    {% if user %}
        <h2>
          {{ user.nickname }}
        </h2>
        <p>
          Email: <a href="{{ user.email | e }}">{{ user.email | e }}</a>
        </p>
        <hr/>
        <p>Favourite channels: </p>
        <ul class="list-group">
          {% if user.favourite_channels and user.favourite_channels | length > 0 %}
              {% for item in user.favourite_channels %}
                <li>{{ item.channel.name }}</li>
              {% endfor %}
          {% endif %}
          <li><a href="{{ url_for('favourite_channels_edit', user_id=current_user.id) }}">Add channel...</a></li>
        </ul>
        <p>Favourite TV-Shows: </p>
        <ul class="list-group">
          {% if user.favourite_shows and user.favourite_shows | length > 0 %}
              {% for item in user.favourite_shows %}
                <li>{{ item.show.name }}</li>
              {% endfor %}
          {% endif %}
          <li><a href="{{ url_for('favourite_shows_edit', user_id=current_user.id) }}">Add show...</a></li>
        </ul>
    {% else %}
      <h3 class="text-center">No such user</h3>
    {% endif %}
{% endblock %}
